In [8]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [10]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [11]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [13]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [15]:
inputs=inputs.drop('Sex',axis='columns')
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [16]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [17]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [19]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True
6       1  54.000000  51.8625   False   True
7       3   2.000000  21.0750   False   True
8       3  27.000000  11.1333    True  False
9       2  14.000000  30.0708    True  False

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [28]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [29]:
model.fit(x_train,y_train)

GaussianNB()

In [31]:
model.score(x_test,y_test)

0.770949720670391

In [32]:
x_test[:10]

     Pclass        Age     Fare  female   male
641       1  24.000000  69.3000    True  False
287       3  22.000000   7.8958   False   True
801       2  31.000000  26.2500    True  False
194       1  44.000000  27.7208    True  False
93        3  26.000000  20.5750   False   True
413       2  29.699118   0.0000   False   True
707       1  42.000000  26.2875   False   True
881       3  33.000000   7.8958   False   True
536       1  45.000000  26.5500   False   True
719       3  33.000000   7.7750   False   True

In [33]:
y_test[:10]

641    1
287    0
801    1
194    1
93     0
413    0
707    1
881    0
536    0
719    0
Name: Survived, dtype: int64

In [35]:
model.predict(x_test[:10])

array([1, 0, 1, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [36]:
model.predict_proba(x_test[:10])

array([[0.00155643, 0.99844357],
       [0.99228073, 0.00771927],
       [0.04674018, 0.95325982],
       [0.01041841, 0.98958159],
       [0.99289601, 0.00710399],
       [0.98094524, 0.01905476],
       [0.92897678, 0.07102322],
       [0.99288194, 0.00711806],
       [0.92626352, 0.07373648],
       [0.99287163, 0.00712837]])